aiofiles==23.1.0
aiogram==2.25.1
aiohttp==3.8.5
aiosignal==1.3.1
amqp==5.2.0
annotated-types==0.7.0
anyio==4.5.0
asgiref==3.7.2
async-generator==1.10
async-timeout==4.0.3
attrs==23.2.0
autobahn==23.6.2
Automat==22.10.0
autopep8==1.6.0
Babel==2.9.1
beautifulsoup4==4.12.2
billiard==4.2.0
blinker==1.8.2
bottle==0.13.2
bottle-websocket==0.2.9
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
constantly==23.10.4
contourpy==1.2.0
cryptography==41.0.3
cssselect==1.2.0
cycler==0.12.1
daphne==4.1.2
DataRecorder==3.5.3
distro==1.9.0
dnspython==2.4.2
docker==7.0.0
DownloadKit==2.0.4
DrissionPage==4.0.5.6
EasyProcess==1.1
Eel==0.17.0
entrypoint2==1.1
et-xmlfile==1.1.0
exceptiongroup==1.1.0
fake-useragent==1.5.1
fastapi==0.115.0
filelock==3.16.1
Flask==3.0.3
Flask-Cors==4.0.0
fonttools==4.44.0
frozenlist==1.4.1
future==1.0.0
gspread==5.10.0
h11==0.14.0
httpcore==1.0.6
httplib2==0.22.0
httpx==0.27.2
hyperlink==21.0.0
idna==3.7
incremental==22.10.0
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
jiter==0.5.0
kiwisolver==1.4.5
kombu==5.3.3
lxml==5.3.0
magic-filter==1.0.12
MarkupSafe==3.0.1
matplotlib==3.8.1
MouseInfo==0.1.3
mss==9.0.1
multidict==6.0.5
multipledispatch==1.0.0
nodriver==0.29rc2
numpy==1.26.4
oauthlib==3.2.2
openai==1.51.0
openpyxl==3.1.3
outcome==1.3.0.post0
packaging==24.0
pandas==2.2.2
pika==1.3.2
pillow==10.3.0
pip==24.0
pluggy==1.0.0
prompt-toolkit==3.0.40
proto-plus==1.23.0
protobuf==4.25.3
psutil==6.0.0
psycopg2-binary==2.9.9
pyasn1==0.6.0
pyasn1_modules==0.4.0
PyAutoGUI==0.9.54
pycodestyle==2.8.0
pycparser==2.22
pydantic==2.3.0
pydantic_core==2.6.3
pydub==0.25.1
pyee==11.0.1
PyGetWindow==0.0.9
PyJWT==2.3.0
pymongo==3.12.3
PyMsgBox==1.0.9
pyOpenSSL==23.2.0
pyparsing==3.1.2
pyperclip==1.8.2
PyRect==0.2.0
pyscreenshot==3.1
PyScreeze==0.1.29
PySocks==1.7.1
pytest==7.4.3
pytest-base-url==2.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-slugify==8.0.1
pytweening==1.0.7
pytz==2024.1
PyVirtualDisplay==3.0
redis==5.0.1
requests==2.31.0
requests-file==2.1.0
requests-oauthlib==2.0.0
rsa==4.9
rubicon-objc==0.4.6
selenium==4.20.0
service-identity==24.1.0
setuptools==65.5.0
six==1.16.0
slack_sdk==3.33.1
sniffio==1.3.1
sortedcontainers==2.4.0
sounddevice==0.4.6
soundfile==0.12.1
soupsieve==2.5
starlette==0.38.5
style==1.1.0
text-unidecode==1.3
tldextract==5.1.2
toml==0.10.2
tomli==2.0.1
tqdm==4.66.5
trio==0.25.0
trio-websocket==0.11.1
Twisted==24.3.0
TwoCaptcha==0.0.1
txaio==23.1.1
typing_extensions==4.11.0
tzdata==2024.1
undetected-chromedriver==3.5.5
update==0.0.1
uritemplate==4.1.1
urllib3==2.2.1
urllib3-secure-extra==0.1.0
uvicorn==0.30.6
vine==5.1.0
wcwidth==0.2.9
webdriver-manager==4.0.1
websocket-client==1.8.0
websockets==12.0
whichcraft==0.6.1
whitenoise==6.9.0
wrapt==1.16.0
wsproto==1.2.0
yarl==1.9.4
zope.event==5.0
zope.interface==7.1.0
